
body {
  margin: 0 auto;
  background-color: red;
}
header {
  text-align: center;
  background: url("./pic1.jpg");
  background-size: cover;
  background-position: center;
}
a {
  color: white;
}
h1 {
  font-size: 100px;
  text-align: center;
  color: white;
  margin: 0 auto;
  padding: 80px;
  font-family: 'Bree Serif', serif;
  }
li {
  display: inline;
  padding: 20px 30px 20px 30px;
  font-size: 15px;
}
ul {
  background: rgba(0,0,0,.4);
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
}
a {
  color: white;
    text-align: left;
    margin: 0 auto;
    padding: 10px;
    font-family: 'Bree Serif', serif;

}
@media (max-width: 800px) {
  h1 {
    font-size: 65px
  }
  li {
    display: inline-block;
  }
}
h3 {
  font-size: 15px;
  text-align: center;
  color: white;
  margin: 0 auto;
  padding: 10px;
  font-family: 'Bree Serif', serif;
  }
  .banner {
    text-align: center;
    background-color: orange;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    padding: 0px;
  }
  .formgroup {
    margin: 10px auto;
    padding: 0;
  }
h4 {
  font-size: 20px;
  text-align: center;
  color: white;
  margin: 0 auto;
  padding: 10px;
  font-family: 'Bree Serif', serif;
  }
  p {
    font-size: 5em;
    text-align: center;
    color: white;
    margin: 0 auto;
    padding: 10px;
    font-family: 'Bree Serif', serif;
    }
.button {
    background-color: #f44336; /* Red */
    border: none;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 10px 0 10px;
}

.button2 {
    background-color: #f44336; /* Red */
    border: none;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.border {
    border-style: dashed;
    border-color: white;
    border-width: 2px 5px 4px 5px;
}

.size-image{
  height: 400px;
  width: 500px;
}

.thumbnail
{ background:#383838
 !important;

}


.jumbotron{
  width:50%;
  height:50%;
  background:black
  align: center;
}

.navbar-navbar-inverse{
  text-align: center;
  background-color: black;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  padding: 0px;
}
