body {
  margin: 0 auto;
  background-color: black;
}
header {
  text-align: center;
    background: url(https://i.imgur.com/FFuyZFm.jpg);
  background-size: cover;
  background-position: center;
}
a {
  color: white;
}

  .banner {
    text-align: center;
    background-color: orange;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    padding: 0px;
  }

  .navbar-navbar-inverse{
    text-align: center;
    float:right;
  }

h1 {
  position: relative;
  text-align: center;
  color: white;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 100px;
  font-weight: lighter;
  background-image: "leedsmarket.jpg";
  }
  li {
    padding: 20px 30px 20px 30px;
    font-size: 30px;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    border-right: 4px solid #000000;
    border-right-color: white;
}
ul {
  background: rgba(0,0,0,.4);
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
}
h2 {
  color: white;
  text-align: center;
}

.carousel {
  background-position: center;
}


.leedsHeadline{
  text-align: center;
  color: white;
}
div {
  text-align: center;
}
@media (max-width: 800px) {
  h1 {
    font-size: 65px
  }
  li {
    display: inline-block;
  }
}
h4 {
  font-size: 20px;
  text-align: left;
  color: white;
  margin: 0 auto;
  padding: 10px;
  font-family: 'Lato', sans-serif;
  }
  p {
    font-size: 5em;
    text-align: center;
    color: white;
    margin: 30 auto;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    }
.button {
    background-color: #f44336; /* Red */
    border: none;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 45px;
    margin: 10px 10px 14px 10px;
}

.button2 {
    background-color: #f44336; /* Red */
    border: none;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.border {
    border-style: dashed;`
    border-color: white;
    border-width: 8px 8px 8px 8px;
}
.size-image{
  height: 400px;
  width: 500px;
}

.jumbotron{
  display: inline-block;
  width:100%;
  background-color: black;
}

.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 30px;
  text-align: left;
  margin: 0 auto;
  padding: 10px;
  font-family: 'Lato', sans-serif;
  }
  .rainbow2 {
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 150px;
    text-align: left;
    margin: 0 auto;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    }
h3 {
  font-size: 30px;
  text-align: center;
  color: white;
  margin: 0 auto;
  padding: 10px;
  font-family: 'Lato', sans-serif;
  }
  .thumbnail
  { background:#383838
   !important;

  }
  .formgroup {
    margin: 10px auto;
    padding: 0;
  }
