body {
  margin: 0 auto;
  background-color: black;
}
header {
  text-align: center;
  background-size: cover;
  background-position: center;
}
a {
  color: white;
}
h1 {
  text-align: center;
  color: white;
  margin: 0 auto;
  padding: 80px;
  font-family: 'Raleway', sans-serif;
  font-size: 100px;
  font-weight: lighter;
  }
  li {
    padding: 20px 30px 20px 30px;
    font-size: 30px;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    border-right: 4px solid #000000;
    border-right-color: white;
}
ul {
  background: rgba(0,0,0,.4);
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
}
a {
  color: white;
}
@media (max-width: 800px) {
  h1 {
    font-size: 65px
  }
  li {
    display: inline-block;
  }
}
