body {
  margin: 0 auto;
  background-color: black;
}
header {
  text-align: center;
  background: url(https://i.imgur.com/FFuyZFm.jpg);
  background-size: cover;
  background-position: center;
}
a {
  color: white;
}
h1 {
  position: relative;
  text-align: center;
  color: white;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 100px;
  font-weight: lighter;
  }
li {padding: 20px 30px 20px 30px;
    font-size: 30px;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    border-right: 4px solid #000000;
    border-right-color: white;
}
.navbar-navbar-inverse{
  text-align: center;
  float:right;
}
ul {
  background: rgba(0,0,0,.4);
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
}
a {
  color: white;
}
h2 {
  color: white;
  font-size: 60px;
  padding-right: 0px 0px 0px 40px;
  font-family: 'Lato', sans-serif;
  text-align: center;
}
p {
  color: white;
  font-size: 35px;
  padding: 0px 40px 0px 40px;
  font-family: 'Lato', sans-serif;
  max-width: 1000px;
  text-align: center;
  font-weight: lighter;
}
img {
  border: 7px solid white;
  margin: 40px;
  border-radius: 20px;
  }
td {
  padding: 20px;
  align-items: center;
}
@media (max-width: 800px) {
  h1 {
    font-size: 65px;
  }
  li {
    display: inline-block;
  }
  h2 {
    font-size: 30px;
  }
  td {
    padding: 10px;
  }
  p {
    font-size: 20px;
    max-width:800px;
  }
  table {
    max-width: 800px;
  }
  img {
    width:300px;
    height:auto;
  }
}
